<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>tinper-bee demo</title>
    <link rel="stylesheet" href="./dist/demo.css">
	<link rel="stylesheet" href="./demo/atom-one-dark.css">
</head>
<body style="background: #eceff1">
    <div id="tinperBeeDemo"></div>
	<script src="//cdn.jsdelivr.net/highlight.js/9.8.0/highlight.min.js"></script>
	<script>
		hljs.initHighlightingOnLoad();
	</script>
    <script src="./node_modules/console-polyfill/index.js"></script>
    <script src="./node_modules/es5-shim/es5-shim.min.js"></script>
    <script src="./node_modules/es5-shim/es5-sham.min.js"></script>
    <script src="//design.yonyoucloud.com/static/react/16.0.0/umd/react.development.js"></script>
    <script src="//design.yonyoucloud.com/static/react/16.0.0/umd/react-dom.development.js"></script>
    <script src="//design.yonyoucloud.com/static/prop-types/15.6.0/prop-types.min.js"></script>
    <script src="./dist/demo.js"></script>
</body>
</html>
